# MapServices Specific
MAPSERVICES_REDIS_PWD=ThisMustBeAStrongPassword
SWI_SEAICE_MONITORING_ENDPOINT=http://127.0.01
SWI_AVALANCHE_MONITORING_ENDPOINT=http://127.0.01


#CORS
CORS_ALLOWED_ORIGINS=*

# Routes
SWI_MAPPROXY_HOST=mapserver.localhost