CORS_ALLOWED_ORIGINS=*
SWI_METSERVICES_REDIS_PWD=ThisShouldBeAStrongPassword

#Routing & Port
SWI_APIS_HOST=api.localhost

SWI_METOBS_API_ROUTE=/public/
SWI_METOBS_INTERNAL_PORT=8085

SWI_TITILER_API_ROUTE=/tiles/


#APIs key
SWI_METOBS_HOLFUY_API_KEY=TheHolfuyAPIKey
SWI_METOBS_FROST_API_KEY=TheFrostAPIKey