name: Update version info

on:
  push:
    branches-ignore:
      - "main"

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: PIP Install
        run: pip install pyyaml

      - name: Run Python script
        id: run-script
        run: python update-info.py | tee output.txt

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: "info/version.json"
          default_author: github_actions
          message: "[BOT] Update services version"
