name: Update version info

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Run Python script
        id: run-script
        run: python update-info.py | tee output.txt


      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add ./info/*
          git diff-index --quiet HEAD || git commit -m "[BOT] Update services version"
          git push

      - name: Comment PR with script output
        if: github.event_name == 'push' && github.ref != 'refs/heads/main'
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const scriptOutput = fs.readFileSync('output.txt', 'utf8');
            const prNumber = process.env.PR_NUMBER;

            if (prNumber) {
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: prNumber,
                body: `Script output:\n\`\`\`\n${scriptOutput}\n\`\`\``
              });
            }
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
